<p>companies works!</p>



<div class="row">
    <div class="col-sm-12">
        <div class="mat-elevation-z2">
          <table mat-table [dataSource]="dataSource"  matSort matSortActive="id" matSortDirection="asc" 
                matSortDisableClear width="100%">


                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                        <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
                        <td mat-cell *matCellDef="let row"> {{ row.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="bvdidnumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> bvdidnumber </th>
                        <td mat-cell *matCellDef="let row"> {{ row.bvdidnumber }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
                
            </table>
        </div>
    </div>
</div>

