<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/companies" class="btn btn-info">List of companies</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List of users(works)</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/create-user" class="btn btn-info">Register</a>
            </li>

              
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


