<p>company.details works!!</p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">bvdIdNumber</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.bvdIdNumber }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
