<div class="container">
    <div class="col-sm-8 col-sm-offset2">
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <mat-tab-group mat-stretch-tabs dynamicHeight>
            <mat-tab label="Register">
                <div class="pl-2">


                    <!--Create email -->
                    <div class="form">
                        <mat-form-field align="center">
                            <input matInput type="text" class="form-control" placeholder="email" [formControl]="emailCtl">
                            <mat-error class="text-danger" *ngIf="emailCtl.hasError('required')"> required </mat-error>
                            <mat-error class="text-danger" *ngIf="emailCtl.hasError('emailExist')"> email exist </mat-error>
                        </mat-form-field>
                    </div>

                    <!--Create password -->

                    <div class="form">
                        <mat-form-field>
                            <input matInput type="password" class="form-control" placeholder="password" [formControl]="passwordCtl">
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('required')"> require </mat-error>
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('pwdAndUsernameEqual')"> password is equal to username! </mat-error>
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('pwdMustContainNbr')"> password must contains numbers! </mat-error>
                            <mat-error class="text-danger" *ngIf="passwordCtl.hasError('pwdRegEx')"> Password must contain at least one letter, one number, ... </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput type="password" class="form-control" placeholder="password confirm" [formControl]="passwordConfirmCtl">
                            <mat-error class="text-danger" *ngIf="passwordConfirmCtl.hasError('pwdNotEqual')"> passwords are not equals </mat-error>
                        </mat-form-field>
                    </div>

                    <!--create firstname-->
                    <div class="form">
                        <mat-form-field>
                            <input matInput type="text" class="form-control" placeholder="firstname" [formControl]="firstnameCtl">
                            <mat-error class="text-danger" *ngIf="firstnameCtl.hasError('required')"> required </mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid"
    (click)="onSubmit()">save</button>
    </div>
</div>
