<p>users works!</p>
<!--Ici, le HTML qui va permettre d'afficher les users-->


<div class="row">
    <div class="col-sm-12">
        <div class="mat-elevation-z2">
          <table mat-table [dataSource]="dataSource"  matSort matSortActive="id" matSortDirection="asc" 
                matSortDisableClear width="100%">


                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                        <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> firstname </th>
                        <td mat-cell *matCellDef="let row"> {{ row.firstname }}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                        <td mat-cell *matCellDef="let row"> {{ row.email }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
                
            </table>
        </div>
    </div>
</div>

